
@*
* John Moreau
* CSS233
* 12/9/2023
*@
@model Technician
@{
    //string isInvalid(string str) => ViewData.ModelState.GetFieldValidationState(str) == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid ? "is-invalid" : ""; // Source: https://stackoverflow.com/questions/39028177/how-to-check-in-razor-view-if-field-is-valid
    string title = ViewBag.Action + " Technician";
    ViewData["Title"] = title;
}
<h2>@title</h2>
<form asp-controller="Technician" asp-action="Edit" method="post">
    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <div class="row mb-3">
        <div class="col-2 mt-1">
            <label asp-for="Name" class="form-label">Name</label>
        </div>
        <div class="col-5">
            <input asp-for="Name" class="form-control">
        </div>
        <div class="col-5">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2 mt-1">
            <label asp-for="Email" class="form-label">Email</label>
        </div>
        <div class="col-5">
            <input asp-for="Email" class="form-control" type="email">
        </div>
        <div class="col-5">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2 mt-1">
            <label asp-for="Phone" class="form-label">Phone</label>
        </div>
        <div class="col-5">
            <input asp-for="Phone" class="form-control" id="phone-input" onfocus="updatePhoneNumber('phone-input')">
        </div>
        <div class="col-5">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    <input type="hidden" asp-for="Id" />

    <input type="hidden" asp-for="DateAdded" value="@(Model.DateAdded == string.Empty ? DateTime.Now.ToString("MM/dd/yyyy h:mm:ss tt") : Model.DateAdded)  />

    <div class="mb-3">
        <button type="submit" onclick="updatePhoneNumber('phone-input')" class="btn btn-primary">Save</button>
        <a asp-controller="Technician" asp-action="List" asp-route-id="@Model.Id"
           class="btn btn-primary">Cancel</a>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />