
<h1>@ViewBag.Title</h1>

SportsPro Technical Support constantly strives to provide the highest level of technical support for all rpducts in the SportsPro family.

<br />
<h2>Data Privacy Policy</h2>


<p>We value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our website.</p>

<p><strong>Information We Collect:</strong> We may collect both personal and non-personal information. Personal information includes details like your name, email address, and contact information. Non-personal information includes data like your IP address and browsing preferences.</p>

<p><strong>How We Use Your Information</strong>: We use your information to provide and improve our services, send you updates and newsletters (if you opt in), respond to your inquiries, and enhance your website experience.</p>

<p><strong>Cookies and Similar Technologies:</strong> We may use cookies and similar technologies to collect non-personal data. You can manage your cookie settings in your browser.</p>

<p><strong>Sharing Your Information:</strong> We may share your data with third parties in certain situations, such as with your explicit consent or to comply with legal requirements.</p>

<p><strong>Data Security:</strong> While we take reasonable measures to protect your information, no method of online data transmission is entirely secure.</p>

<p><strong>Your Choices:</strong> You can manage your personal information and preferences, including opting out of marketing communications.</p>

<p><strong>Changes to this Policy:</strong> We may update this policy periodically, with the revised version posted on our website.</p>
